# Python cache files
*.pyc
__pycache__/

# VSCode settings
.vscode/

# Build and output folders
output/
build/
screenshots/
tensorboard_3d/
diff_rasterization/diff_rast.egg-info/
diff_rasterization/dist/

# Datasets 
data/


# Viewers
viewers/